:root {
    --primary-color: #D96C06;
    --secondary-color: #629460;
    --light-color: #fff;
    --dark-bg-color: #121212;
    --dark-text-color: #e0e0e0;
    --dark-primary-color: #BB86FC;
    --dark-secondary-color: #03DAC6;
    --dark-header-bg-color: #1c1c1c;
    --dark-footer-text-color: #e0e0e0;
}

body {
    background: linear-gradient(to right, #d9dcba, #eec690);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: var(--dark-text-color);
}

header {
    background-color: var(--light-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode header {
    background-color: var(--dark-header-bg-color);
    color: var(--dark-text-color);
}

.nav-link {
    color: var(--text-color);
    transition: color 0.3s ease;
}

body.dark-mode .nav-link {
    color: var(--dark-text-color);
}

body.dark-mode .nav-link:hover {
    color: var(--dark-primary-color);
}

.navbar-brand {
    color: #000;
    transition: color 0.3s ease;
}

body.dark-mode .navbar-brand {
    color: var(--dark-text-color);
}

.form-control {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
}

body.dark-mode .form-control {
    background-color: #333;
    color: var(--dark-text-color);
    border: 1px solid var(--dark-text-color);
}

body.dark-mode .form-control::placeholder {
    color: #bbbbbb;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

body.dark-mode .btn-primary {
    background-color: var(--dark-primary-color);
    color: var(--dark-bg-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

body.dark-mode .btn-primary:hover {
    background-color: var(--dark-secondary-color);
}

#recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: transparent;
    color: var(--text-color);
    transition: color 0.3s;
}

body.dark-mode footer {
    color: var(--dark-footer-text-color);
}